In [ ]:
import numpy as np
import pandas as pd

In [ ]:
onlinedeliverydata_data = pd.read_csv("/content/onlinedeliverydata.csv")

In [ ]:
onlinedeliverydata_data.head()

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,...,Less Delivery time,High Quality of package,Number of calls,Politeness,Freshness,Temperature,Good Taste,Good Quantity,Output,Reviews
0,20,Female,Single,Student,No Income,Post Graduate,4,12.9766,77.5993,560001,...,Moderately Important,Moderately Important,Moderately Important,Moderately Important,Moderately Important,Moderately Important,Moderately Important,Moderately Important,Yes,Nil\n
1,24,Female,Single,Student,Below Rs.10000,Graduate,3,12.9770,77.5773,560009,...,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Yes,Nil
2,22,Male,Single,Student,Below Rs.10000,Post Graduate,3,12.9551,77.6593,560017,...,Important,Very Important,Moderately Important,Very Important,Very Important,Important,Very Important,Moderately Important,Yes,"Many a times payment gateways are an issue, so..."
3,22,Female,Single,Student,No Income,Graduate,6,12.9473,77.5616,560019,...,Very Important,Important,Moderately Important,Very Important,Very Important,Very Important,Very Important,Important,Yes,nil
4,22,Male,Single,Student,Below Rs.10000,Post Graduate,4,12.9850,77.5533,560010,...,Important,Important,Moderately Important,Important,Important,Important,Very Important,Very Important,Yes,NIL

In [ ]:
mean = onlinedeliverydata_data[["Age","Family size","latitude","longitude","Pin code"]].mean()
print(mean)

Age                24.650350
Family size         3.272727
latitude           12.972996
longitude          77.597023
Pin code       560036.793706
dtype: float64

In [ ]:
onlinedeliverydata_data[["Age","Family size","latitude","longitude","Pin code"]].median()

Age                24.0000
Family size         3.0000
latitude           12.9770
longitude          77.5864
Pin code       560027.0000
dtype: float64

In [ ]:
onlinedeliverydata_data[["Age","Family size","latitude","longitude","Pin code"]].skew()

Age            0.780783
Family size    0.424639
latitude       0.215602
longitude      0.977520
Pin code       0.739120
dtype: float64

In [ ]:
onlinedeliverydata_data.mode()

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,...,Less Delivery time,High Quality of package,Number of calls,Politeness,Freshness,Temperature,Good Taste,Good Quantity,Output,Reviews
0,23,Male,Single,Student,No Income,Post Graduate,3,12.977,77.5773,560009,...,Important,Important,Important,Important,Very Important,Important,Very Important,Very Important,Yes,NIL

In [ ]:
print(max(onlinedeliverydata_data['Age']) - min(onlinedeliverydata_data["Age"]))
print(max(onlinedeliverydata_data['Family size']) - min(onlinedeliverydata_data["Family size"]))
print(max(onlinedeliverydata_data['latitude']) - min(onlinedeliverydata_data["latitude"]))
print(max(onlinedeliverydata_data['longitude']) - min(onlinedeliverydata_data["longitude"]))
print(max(onlinedeliverydata_data['Pin code']) - min(onlinedeliverydata_data["Pin code"]))

15
5
0.23680000000000057
0.2740000000000009
108

In [ ]:
five_num_age = [onlinedeliverydata_data["Age"].quantile(0),
            onlinedeliverydata_data["Age"].quantile(0.25),
            onlinedeliverydata_data["Age"].quantile(0.50),
            onlinedeliverydata_data["Age"].quantile(0.75),
            onlinedeliverydata_data["Age"].quantile(1)]

five_num_age

[18.0, 23.0, 24.0, 26.0, 33.0]

In [ ]:
five_num_Familysize = [onlinedeliverydata_data["Family size"].quantile(0),
            onlinedeliverydata_data["Family size"].quantile(0.25),
            onlinedeliverydata_data["Family size"].quantile(0.50),
            onlinedeliverydata_data["Family size"].quantile(0.75),
            onlinedeliverydata_data["Family size"].quantile(1)]

five_num_Familysize

[1.0, 2.0, 3.0, 4.0, 6.0]

In [ ]:
five_num_latitude = [onlinedeliverydata_data["latitude"].quantile(0),
            onlinedeliverydata_data["latitude"].quantile(0.25),
            onlinedeliverydata_data["latitude"].quantile(0.50),
            onlinedeliverydata_data["latitude"].quantile(0.75),
            onlinedeliverydata_data["latitude"].quantile(1)]

five_num_latitude

[12.8652, 12.9438, 12.977, 12.997675, 13.102]

In [ ]:
five_num_longitude = [onlinedeliverydata_data["longitude"].quantile(0),
            onlinedeliverydata_data["longitude"].quantile(0.25),
            onlinedeliverydata_data["longitude"].quantile(0.50),
            onlinedeliverydata_data["longitude"].quantile(0.75),
            onlinedeliverydata_data["longitude"].quantile(1)]

five_num_longitude

[77.4842, 77.56335, 77.5864, 77.6227, 77.7582]

In [ ]:
five_num_Pin_code = [onlinedeliverydata_data["Pin code"].quantile(0),
            onlinedeliverydata_data["Pin code"].quantile(0.25),
            onlinedeliverydata_data["Pin code"].quantile(0.50),
            onlinedeliverydata_data["Pin code"].quantile(0.75),
            onlinedeliverydata_data["Pin code"].quantile(1)]

five_num_Pin_code

[560001.0, 560010.0, 560027.0, 560065.5, 560109.0]

In [ ]:
onlinedeliverydata_data.describe()

             Age  Family size    latitude   longitude       Pin code
count  286.00000   286.000000  286.000000  286.000000     286.000000
mean    24.65035     3.272727   12.972996   77.597023  560036.793706
std      3.01635     1.354301    0.043646    0.053517      30.778486
min     18.00000     1.000000   12.865200   77.484200  560001.000000
25%     23.00000     2.000000   12.943800   77.563350  560010.000000
50%     24.00000     3.000000   12.977000   77.586400  560027.000000
75%     26.00000     4.000000   12.997675   77.622700  560065.500000
max     33.00000     6.000000   13.102000   77.758200  560109.000000

In [ ]:
onlinedeliverydata_data[["Age","Family size","latitude","longitude","Pin code"]].var()

Age              9.098368
Family size      1.834131
latitude         0.001905
longitude        0.002864
Pin code       947.315188
dtype: float64

In [ ]:
Std = onlinedeliverydata_data[["Age","Family size","latitude","longitude","Pin code"]].std()
print(Std)

Age             3.016350
Family size     1.354301
latitude        0.043646
longitude       0.053517
Pin code       30.778486
dtype: float64

In [ ]:
CV = (Std / mean) * 100
print(CV)

Age            12.236541
Family size    41.381415
latitude        0.336439
longitude       0.068968
Pin code        0.005496
dtype: float64

In [ ]:
onlinedeliverydata_data.corr()

                  Age  Family size  latitude  longitude  Pin code
Age          1.000000     0.196929  0.065278   0.034115  0.064264
Family size  0.196929     1.000000 -0.044014   0.055223  0.020884
latitude     0.065278    -0.044014  1.000000  -0.147579 -0.254707
longitude    0.034115     0.055223 -0.147579   1.000000  0.140533
Pin code     0.064264     0.020884 -0.254707   0.140533  1.000000

In [ ]:
onlinedeliverydata_data.cov()

                  Age  Family size  latitude  longitude    Pin code
Age          9.098368     0.804466  0.008594   0.005507    5.966213
Family size  0.804466     1.834131 -0.002602   0.004002    0.870494
latitude     0.008594    -0.002602  0.001905  -0.000345   -0.342165
longitude    0.005507     0.004002 -0.000345   0.002864    0.231483
Pin code     5.966213     0.870494 -0.342165   0.231483  947.315188